.first{

background-color:#9FFF33

}


.second{

background-color:#C2D506

}


.third{

background-color:#C2D506

}

.forth{

background-color:#C2D506

}


h1. {


text-color:#11F4F4
font-family:Arial

}


h3. {


text-color:#11F4F4
font-family:Arial

}


p. {

font-family:Arial
font-size:16px


}
